<h1 mat-dialog-title>Shopping cart</h1>
<div mat-dialog-content>
  <div *ngFor="let cartItem of data.cartItems" class="products">
    <img [src]="cartItem.product.imageUrl" alt="" />
    <h2>{{ cartItem.product.name }}</h2>
    <h3>{{ cartItem.product.price }} €</h3>
    <p>Quantity: {{ cartItem.quantity }}</p>
    <button
      mat-flat-button
      color="accent"
      class="cartButton"
      (click)="RemoveItem(cartItem.product)"
    >
      Remove product
    </button>
  </div>
</div>
<p style="padding: 16px">Total price: {{ data.totalPrice }}</p>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
