<div class="main-content">
  <div class="page ferrari-page">
    <h1 class="word">
      <span class="char">F</span>
      <span class="char">E</span>
      <span class="char">R</span>
      <span class="char">R</span>
      <span class="char">A</span>
      <span class="char">R</span>
      <span class="char">I</span>
    </h1>
  </div>
</div>

<div class="header-bar">
  <ul class="navbar-items-menu">
    <li href="#" src="./../../assets/images/ferrari-logo.png"></li>
    <button class="about-button">About</button>
    <button>Catalog</button>
    <button (click)="contactModule()">Contact</button>
    <button>Contact</button>
    <img [src]="Cart" alt="" (click)="cartModule()" />
  </ul>
</div>

<!-- <div class="header">
  <div class="logo">Ferrari shop</div>
</div> -->
