<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<div class="leftSide" [ngStyle]="{'background-color': 'black', 'width': '150px', 'height': '100vh', 'float': 'left'}">

    <div class="brands" [ngStyle]="{'background-color': 'yellow', 'width': '150px', 'height': '74px', 'margin-top': '100px'}">
        <div class="brandsText" [ngStyle]="{'font-size': '28px', 'padding': '19px'}"> 
            BRANDS
        </div>

    </div>

    <div class="brandsInBrands" [ngStyle]="{'background-color': '#98970c', 'height': '200px', 'width': '150px', 'font-size': '16px', 'line-height': '11.5px'}">
        <div class="appleBrand" [ngStyle]="{'padding-top': '35px'}">
            APPLE
        </div>
        <div class="appleBrand" [ngStyle]="{'padding-top': '28.5px'}">
            SAMSUNG
        </div>
        <div class="appleBrand" [ngStyle]="{'padding-top': '28.5px'}">
            HUAWEI
        </div>
        <div class="appleBrand" [ngStyle]="{'padding-top': '28.5px'}">
            XIAOMI
        </div>
    </div>

    <div class="info" [ngStyle]="{'margin-top': '188px', 'height': '162px'}">
        <a mat-fab extended color="primary" [ngStyle]="{'color': 'black', 'margin-bottom': '21px', 'background-color': 'yellow', 'width': '100px', 'height': '60px', 'padding-top': '5px'}" (click)="switchView()">
            {{viewText}}
        </a>
        <a mat-fab extended color="primary" [ngStyle]="{'color': 'black', 'margin-bottom': '21px', 'background-color': 'yellow', 'width': '100px', 'height': '30px', 'padding-top': '5px'}">
            ABOUT
        </a>
        <a mat-fab extended color="primary" [ngStyle]="{'color': 'black', 'margin-bottom': '21px', 'background-color': 'yellow', 'width': '100px', 'height': '30px', 'padding-top': '5px'}">
            CONTACT
        </a>

        <!-- <div class="view" [ngStyle]="{'margin-bottom': '21px', 'background-color': 'yellow', 'width': '100px', 'height': '20px', 'padding-top': '5px'}" (click)="switchView()">
            {{viewText}}
        </div>

        <div class="about" [ngStyle]="{'margin-bottom': '21px', 'background-color': 'yellow', 'width': '100px', 'height': '20px', 'padding-top': '5px'}">
            ABOUT
        </div>

        <div class="contact" [ngStyle]="{'margin-bottom': '21px', 'background-color': 'yellow', 'width': '100px', 'height': '20px', 'padding-top': '5px'}">
            CONTACT
        </div> -->
    </div>
</div>
