#logo {
    width: 100%;
    height: 230px;
    background: #F2E0E0;

    img {
        width: 100%;
        height: 100%;
    }
}

.text {
    width: 100%;
    height: calc(100vh - 230px);
    margin-top: 20vh;

    font-size: 25px;
    line-height: 39px;
    text-align: center;
}