<div class="wrapper">
  <a [routerLink]="['/test']" routerLinkActive="router-link-active" class="link"
    >VEDRAN</a
  >
  <a [routerLink]="['/Dino']" class="link">DINO</a>
  <a
    [routerLink]="['/martin']"
    routerLinkActive="router-link-active"
    class="link"
    >MARTIN</a
  >
  <a
    [routerLink]="['/tihomir']"
    routerLinkActive="router-link-active"
    class="link"
    >TIHOMIR</a
  >
  <a
    [routerLink]="['/mislav-cacic']"
    routerLinkActive="router-link-active"
    class="link"
    >Mislav</a
  >
  <a
    [routerLink]="['/my-module15']"
    routerLinkActive="router-link-active"
    class="link"
    >TEO</a
  >

  <a
    [routerLink]="['/karla']"
    routerLinkActive="router-link-active"
    class="link"
    >KARLA</a
  >

  <a [routerLink]="['/ivan']" routerLinkActive="router-link-active" class="link"
    >Ivan</a
  >

  <a
    [routerLink]="['/filip']"
    routerLinkActive="router-link-active"
    class="link"
    >Filip</a
  >
  <a
    [routerLink]="['/Ljulj']"
    routerLinkActive="router-link-active"
    class="link"
    >Ljulj</a
  >
  <a
    [routerLink]="['/stjepan']"
    routerLinkActive="router-link-active"
    class="link"
    >Stjepan</a
  >
</div>
