<app-header></app-header>
<router-outlet></router-outlet>
<div class="wrapper">
  <div class="text">
    <h2>We are the best flower growers in the world</h2>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus
      mattis augue ut imperdiet. Sed nec tortor at sem feugiat luctus. Proin
      posuere lobortis ullamcorper. Suspendisse nec ipsum quis purus auctor
      rutrum. Donec egestas sed risus sit amet sagittis. Quisque aliquam sodales
      ex, et hendrerit lacus dignissim eu.
    </h3>
  </div>
</div>
