 .wrapper {
    background-color: #2C3337;
    width: 1920px;
    height: 1080px;

    h2 {
        justify-content: center;
        text-align: center;
        margin-right: 1500px;
        font-size: 20px;
    }

    h3{
        justify-content: center;
        text-align: center;
        margin-right: 1300px;
        float: left;
    }
 }
