<div class="hero">
  <section >
    <h1>you'r total bill is</h1>

    <ul class="product-item">
      <li *ngFor="let ci of cart.productList">
        <!-- <p>{{ item.productList }}</p> -->
        <diV >
        {{ci.product.name}}
        {{ci.product.price}} EUR
        <img
        [src]="ci.product.imgURL"
        alt="item">
        <p>{{ci.quantity}}</p>
        <button (click)="deleteItems(ci.product)">ukloni proizvod</button>
        </diV>
        <hr>
      </li>
    </ul> 
    <h6>you'r total price is :</h6>
    <p>{{ cart.totalPrice }} EUR</p>
  </section>
</div>

