.hero {
  background-color: blue;
  position: relative;
}

.product-item {
  max-width: 100%;
}

.product-item img {
  align-items: center;
  max-width: 150px;
  height: auto;
}

.ukloni-btn{
  background-color: red;
  color: white;
  border-radius: 50%;
}

p.total-price{
  font-size: 28px;
  color: red;
  background-color: white;
  margin: 20px auto;
 

}
