<div id="utility">
  <button class="btn" (click)="toHome()">
    <img class="picture" src="assets/stjepan/home.png" alt="home" />
  </button>
  <button class="btn" (click)="cartClear()">
    <img class="picture" src="assets/stjepan/cart_clear.png" alt="cart_clear" />
  </button>
</div>
<div class="cart-container">
  <table class="cart-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="cart-item" *ngFor="let item of cart.cartProducts">
        <td class="product-name">
          <img src="{{ item.cartProduct.image }}" alt="No Picture" />
          <div>{{ item.cartProduct.title }}</div>
        </td>
        <td>{{ "€" + item.cartProduct.price }}</td>
        <td>
          <button class="quantity" (click)="subQuantity(item.cartProduct)">
            -
          </button>
          {{ item.quantity }}
          <button class="quantity" (click)="addQuantity(item.cartProduct)">
            +
          </button>
        </td>
        <td>
          {{ "€" + totalItemPrice(item.quantity, item.cartProduct.price) }}
        </td>
        <td>
          <button class="remove-btn" (click)="removeItem(item.cartProduct)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td>Total: {{ "€" + totalPrice() }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
