<div id="utility">
  <mat-slider color="primary" min="0" max="1000" step="5">
    <input
      (valueChange)="changeMin($event)"
      [(ngModel)]="sliderValues.min"
      matSliderStartThumb
    />
    <div class="slider_vaule" [ngStyle]="{ float: 'left' }">
      {{ sliderValues.min }}
    </div>
    <div class="slider_vaule" [ngStyle]="{ float: 'right' }">
      {{ sliderValues.max }}
    </div>
    <input
      (valueChange)="changeMax($event)"
      [(ngModel)]="sliderValues.max"
      matSliderEndThumb
    />
  </mat-slider>

  <div class="btn" (click)="ascendingToDesending = !ascendingToDesending">
    <img
      id="product-sort"
      src="assets/stjepan/Product_sort.png"
      alt="No image"
    />
  </div>
  <div class="text">Sort by price:</div>
</div>

<div class="grid-container" [ngClass]="viewClass">
  <div
    class="product-card"
    *ngFor="
      let product of products
        | filterPrice : sliderValues
        | sortPrice : ascendingToDesending
    "
  >
    <img src="{{ product.image }}" alt="{{ product.title }}" />
    <h3 class="product-title">{{ product.title }}</h3>

    <p class="price">{{ "€" + product.price }}</p>
    <button class="cart-btn" (click)="addToCart(product)">
      {{ "Add to cart" }}
    </button>
  </div>
</div>
