<app-header></app-header>
<div class="container">
    <ul>
        <li *ngFor="let cartItem of cartProducts">
            <div>
                <img [src]="cartItem.product.thumbnail" [alt]="cartItem.product.name">
            </div>
            <div>
                    {{cartItem.product.name}}
            </div>
            <div>
                {{cartItem.product.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeItem(cartItem.product)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="total-price">{{totalPrice| currency}}</div>
        </div>
    </div>

</div>
   
  
 



