.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #aaa;
}

.form-group input:focus {
  outline: none;
  box-shadow: 0px 0px 5px #2196f3;
}

.btn {
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #0d8beb;
}


.mat-form-field {
  width: 100%;
}

.mat-form-field-hide-toggle {
  position: relative;
}

.mat-form-field-hide-toggle button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.password-input{
  display:flex;
  align-items: center;
}

.password-input input {
  flex: 1;
}

.password-input mat-icon {
  cursor: pointer;
  margin-left: 10px;
}

