<div class="command">
    <button id="list-view"></button>
    <button id="grid-view"></button>
</div>
<div class="grid-container">
    <div class="product-card" *ngFor="let product of products">
        <div class="product-card">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p class="price">{{ product.price | currency:'USD' }}</p>
            <button class="cart-btn">Add to Cart</button>
        </div>
    </div>
  </div>

  
