<!-- <div>
  <div id="grid">GRID VIEW</div>
  <div id="list">LIST VIEW</div>
</div> -->

<!-- <div class="w3-sidebar w3-bar-block" style="width: 25%; right: 0">
  <h5 class="w3-bar-item">Menu</h5>
  <a
    href="http://localhost:4200/martin/dashboard/list"
    class="w3-bar-item w3-button"
    >List View</a
  >
  <a
    href="http://localhost:4200/martin/dashboard/grid"
    class="w3-bar-item w3-button"
    >Grid View</a
  >
</div> -->

<div class="sidebar">
  <a
    href="http://localhost:4200/martin/dashboard/list"
    class="w3-bar-item w3-button"
    >List View</a
  >
  <a
    href="http://localhost:4200/martin/dashboard/grid"
    class="w3-bar-item w3-button"
    >Grid View</a
  >
</div>
