div {
  width: 100px;
  height: 753px;
  background-color: red;
  float: left;
}
#grid {
  width: 100px;
  height: 100px;
  background-color: rgb(192, 20, 20);
  text-align: center;
}
#list {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: rgb(150, 11, 11);
}
