* {
  box-sizing: border-box;
}
header {
  background-color: #1a1d1f;
  width: 100%;
  height: 200px;
  background-image: url("/assets/dino/logoexport.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
