.main{
    background-color: #EEE0CB;
    display:flex;
    flex-direction:row;
    .sidebar{
        width: 200px;
        height: calc(100vh - 76px);
        background-color: #EEE0CB;
        display:flex;
    }
    .products{
        width:calc(100vw - 200px);
        height: calc(100vh - 76px);
        background-color:white;
    }
}