* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    display: block;
}

.main-wrapper{
    background-color: white;
    min-height: 100vh;
    overflow-x: 0;
}

.btn-wrap {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 0;
    border-radius: 5px;
}

.btn-wrap button {
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-wrap button:hover{
    color: darkgray;
}

.item-list{
    margin: 36px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
}

.item{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(15,4,4, 0.05);
}

.item-img{
    position: relative;
    overflow: hidden;
}
.item-img img{
    width: 70%;
    margin: 16px auto;
}

.item-detail{
    padding: 16px;
    color: black;
    text-align: center;
}

.item-name{
    font-weight: 500;
    font-size: 18px;
    display: block;
}



li a:hover {
    opacity: 0.9;
    cursor: pointer;
}


