<app-header></app-header>
<app-sidebar></app-sidebar>     
    <div class="btn-wrap">
        <div class="btn">
            <button type="button" (click)="onDisplayModeChange(1)"
                [ngClass]="{'btn-primary active' : displayMode === 1}">list</button>
            <button type="button" (click)="onDisplayModeChange(2)"
                [ngClass]="{'btn-primary active' : displayMode === 2}">grid</button>
        </div>
    </div>
    <div class="item-list" *ngIf="displayMode === 1">
        <app-product *ngFor="let product of products" [product]="product">
        </app-product>
    </div>
    <div class="grid-container" *ngIf="displayMode === 2">
        <app-gridview *ngFor="let flower of flowers" [flower]="flower"></app-gridview>
    </div>