<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<div class="middle" [ngStyle]="{'height': '400px', 'width': '1100px', 'margin-top': '250px', 'margin-left': '100px', 'position': 'absolute', 'display': 'flex', 'justify-content': 'center', 'float': 'left'}">
    <div [ngStyle]="{'margin-right': '50px'}">
        <img src="{{iphoneJPG}}" alt="iphone">
        <div class="iphoneButton" [ngStyle]="{'background-color': 'yellow', 'width': '170px', 'height': '40px', 'padding-top': '20px', 'margin-left': '30px'}">
            APPLE
        </div>
    </div>

    <div [ngStyle]="{'margin-right': '50px'}">
        <img src="{{samsungJPG}}" alt="samsung">
        <div class="samsungButton" [ngStyle]="{'background-color': 'yellow', 'width': '170px', 'height': '40px', 'padding-top': '20px', 'margin-left': '30px'}">
            SAMSUNG
        </div>
    </div>

    <div [ngStyle]="{'margin-right': '50px'}">
        <img src="{{huaweiJPG}}" alt="huawei">
        <div class="huaweiButton" [ngStyle]="{'background-color': 'yellow', 'width': '170px', 'height': '40px', 'padding-top': '20px', 'margin-left': '40px'}">
            HUAWEI
        </div>
    </div>

    <div>
        <img src="{{xiaomiJPG}}" alt="xiaomi">
        <div class="xiaomiButton" [ngStyle]="{'background-color': 'yellow', 'width': '170px', 'height': '40px', 'padding-top': '20px', 'margin-left': '35px'}">
            XIAOMI
        </div>
    </div>
</div>
