<!-- <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />

<div
  class="middle"
  [ngStyle]="{
    height: '400px',
    width: '1100px',
    'margin-top': '300px',
    position: 'absolute',
    'margin-right': '100px',
    float: 'left'
  }"
>
  <div
    class="appleLine"
    [ngStyle]="{
      'background-color': 'black',
      height: '50px',
      width: '1000px',
      'margin-bottom': '50px',
      'margin-left': '200px',
      display: 'flex',
      'justify-content': 'space-between'
    }"
  >
    <div class="appleLogo">
      <img src="{{ appleLogo }}" alt="logo" height="50px" width="60px" />
    </div>
    <div
      class="appleText"
      [ngStyle]="{
        color: 'white',
        'margin-right': '400px',
        'margin-top': '15px'
      }"
    >
      Apple iPhone 14 Pro
    </div>
  </div>

  <div
    class="samsungLine"
    [ngStyle]="{
      'background-color': 'black',
      height: '50px',
      width: '1000px',
      'margin-bottom': '50px',
      'margin-left': '200px',
      display: 'flex',
      'justify-content': 'space-between'
    }"
  >
    <div class="samsungLogo">
      <img src="{{ samsungLogo }}" alt="logo" height="50px" width="60px" />
    </div>
    <div
      class="appleText"
      [ngStyle]="{
        color: 'white',
        'margin-right': '400px',
        'margin-top': '15px'
      }"
    >
      Samsung Galaxy S22 Ultra
    </div>
  </div>

  <div
    class="huaweiLine"
    [ngStyle]="{
      'background-color': 'black',
      height: '50px',
      width: '1000px',
      'margin-bottom': '50px',
      'margin-left': '200px',
      display: 'flex',
      'justify-content': 'space-between'
    }"
  >
    <div class="huaweiLogo">
      <img src="{{ honorLogo }}" alt="logo" height="50px" width="60px" />
    </div>
    <div
      class="appleText"
      [ngStyle]="{
        color: 'white',
        'margin-right': '450px',
        'margin-top': '15px'
      }"
    >
      Honor Magic 4 Pro
    </div>
  </div>

  <div
    class="xiaomiLine"
    [ngStyle]="{
      'background-color': 'black',
      height: '50px',
      width: '1000px',
      'margin-bottom': '50px',
      'margin-left': '200px',
      display: 'flex',
      'justify-content': 'space-between'
    }"
  >
    <div class="xiaomiLogo">
      <img src="{{ xiaomiLogo }}" alt="logo" height="50px" width="60px" />
    </div>
    <div
      class="appleText"
      [ngStyle]="{
        color: 'white',
        'margin-right': '450px',
        'margin-top': '15px'
      }"
    >
      Xiaomi Mi 12T Pro
    </div>
  </div>
</div> -->
