<app-products></app-products>

<app-dizajn></app-dizajn>
<div>
    
</div>
<div class="product">
    <app-product
    *ngFor="let producty of products"
    [product]="producty"
    ></app-product>
</div> 



 

<!-- <mat-slide-toggle (click)="(ChangeOrder)"
  >Slide for descending order!</mat-slide-toggle
><br />
<mat-slider [step]="sliderStep" [max]="sliderMax" [min]="sliderMin" discrete>
  <input matSliderStartThumb [(ngModel)]="sliderValueMin" />
  <input matSliderEndThumb [(ngModel)]="sliderValueMax" />
</mat-slider> -->

<!-- <div class="content">
  <div class="products">
    <app-product
      *ngFor="
        let product of products
          | minimum : sliderValueMin
          | maximum : sliderValueMax
          | test : sortAscending
      "
      [product]="product"
    ></app-product>
  </div>
  -->
  