<body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
  
    <form>
      <h3>Login Here</h3>
  
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" type="text" placeholder="Username" id="username" name="username" />
      <label for="password">Password</label>
      <input [(ngModel)]="user.password" type="password" placeholder="Password" id="password" name="password"/>
  
      <button (click)="login()" type="submit">Log In</button>
    </form>
  </body>
  