
<form >
  <div class="wrapper">
    <label for="username"><b> User Name:</b></label>
    <input id="username" [(ngModel)]="objekat.username" type="text" name="username" />
    <label for="password"><b> Password: </b></label>
    <input
      [(ngModel)]="objekat.password"
      type="password"
      id="password"
      name="password"
    />
    <button (click)="onSubmit()" type="submit">Create</button>
  </div>
</form>

<span>{{
  objekat.username && objekat.password ? objekat.username + " " + objekat.password : ""
}}</span>


