<div class="sidebar">
  <h1 id="title">RELOJ</h1>

  <button class="sidebar-btn" (click)="category('')">All products</button>
  <button class="sidebar-btn" (click)="category('men\ s clothing')">
    Men's clothing
  </button>
  <button class="sidebar-btn" (click)="category('wommen\ s clothing')">
    Women's clothing
  </button>
  <button class="sidebar-btn" (click)="category('electronics')">
    Electronics
  </button>
  <button class="sidebar-btn" (click)="category('jewelry')">Jewelry</button>
  <div class="sidebar-logo">
    <img src="/assets/Teo/reloj-logos.jpeg" alt="My Image" />
  </div>
</div>
