<div class="sidebar">
    <h1 id="title">RELOJ</h1>
    <hr>
    <button class="sidebar-btn" (click)="allProducts()">All products</button>
    <hr>
    <button class="sidebar-btn">Men's clothing</button>
    <hr>
    <button class="sidebar-btn">Women's clothing</button>
    <hr>
    <button class="sidebar-btn">Electronics</button>
    <hr>
    <button class="sidebar-btn">Jewelry</button>
    <div class="sidebar-logo">
        <img src="/assets/Teo/reloj-logos.jpeg" alt="My Image" />
    </div>
    
</div>

