<div class="productBox">
  <div class="imgContainer">
    <img src="assets/dino/gt2pro.png" alt="" />
  </div>
  <div class="info">
    <div class="productDescription">
      <p>
        Huawei made this watch special and long lasting.Beautiful and durable
        titanium casing with real sapphire glass gives it a lot of attention.
        Huawei made this watch special and long lasting.Beautiful and durable
        titanium casing with real sapphire glass gives it a lot of attention.
      </p>
    </div>
    <div class="productPrice">
      <p>GT2 Pro</p>
      <p style="float: right">300 €</p>
    </div>
  </div>
</div>
