li img {
  width: 500px;
  height: 500px;
  margin: 10px;
  border: 5px solid black;
}

.slike {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slike li {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.slike img {
  width: 100%;
  height: auto;
}

.featured-products {
  background-color: #8cc7a1;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
